
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- banner section -->
<img src="~/assets/images/Space.jpg" class="Spatiu" style="height: auto" />
<section id="home" class="py-5" style="background">
    <div class="container py-lg-5 mt-lg-5">
        <div class="py-lg-4 my-2">
            <div class="banner-info-grid mt-lg-5">
                <h3 class="mb-4">Bun venit pe <br/>ToDo Llist!!</h3>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

