@model List<FinalWebTODO.Domain.Entities.User.TodoMinimal>
@{
    ViewBag.Title = "TodoList";
}

@foreach (var todo in Model)
{
    <div style="text-align: center; border: 1px solid black; border-radius: 5px;margin-bottom: 20px; box-shadow: 0 0 10px 10px #8888;">
        <div>
            <label for="subiect">Subiect:</label>
            <p style="padding-left: 20px" id="subiect" name="subiect">@todo.Subiect</p>
        </div>
        <div>
            <label for="descriere">Descriere</label>
            <p style="padding-left: 20px" id="descriere" name="descriere">@todo.Descriere</p>
        </div>
        <div>
            <label for="lista">Lista</label>
            <p style="padding-left: 20px" id="lista" name="lista">@todo.Lista</p>
        </div>
    </div>
}
