<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                        <div class="footer-logo mb-4">
                            <a class="navbar-brand">
                                Todo List
                            </a>
                        </div>
                        <p>
                            Suntem adevărați profesioniști în design digital și web. Lucrăm pentru clienții noștri pentru a le oferi cele mai bune servicii
                            si produse. Apreciem fiecare proiect deoarece obținem o experiență neprețuită.
                        </p>
                        <div class="main-social-footer-29 mt-4">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

                        <ul>
                            <h6 class="footer-title-29">Pagina web</h6>
                            <li><a href="Login.html">Pagina de Pornire</a></li>
                            <li><a href="CreazaTodo.cshtml">Creaza un Todo</a></li>
                            <li><a href="TodoList.cshtml">Lista</a></li>
                            <li><a href="services.html">Poate Calendar</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">Resourcse</h6>
                        <ul>
                            <li><a href="#traning">Universitatea</a></li>
                            <li><a href="#marketplace">Tehnica</a></li>
                            <li><a href="#experts">din</a></li>
                            <li><a href="#platform">Moldova</a></li>
                            <li><a href="#customers">♡</a></li>
                        </ul>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                        <h6 class="footer-title-29">Instagram posts</h6>
                        <div class="post1">
                            <a href="#url" class="post-title">Practica design. Primii...</a>
                            <p>Lucram pentru clientii nostrii cu cele mai...</p>
                        </div>
                        <div class="post1 mt-4">
                            <a href="#url" class="post-title">Cum sa nu cand... </a>
                            <p>Lucram pentru clientii nostrii cu cele mai...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <section class="w3l-copyright text-center">
            <div class="container">
                <p class="copy-footer-29">
                    © 2024 Web Service. All rights reserved. Design by <a href="@Url.Action("Index","Home")"
                                                                          target="_blank">
                        UTM TI-223/221
                    </a>
                </p>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                &#10548;
            </button>
            <script>// When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }</script>
            <!-- /move top -->
        </section>
        <!-- //copyright -->
    </section>
    <!-- //footer -->

</body>
</html>
