<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- footer -->
    <div class="footer">
        <p>
            2024 Service login form. All Rights Reserved | Design by <a href="@Url.Action("Login","Home")">
                UTM TI-223/221
            </a>
        </p>
    </div>
    <!-- footer -->
</body>
</html>
